{% extends 'portfolio/basic.html' %}

{% block title %}Work | Developer Portfolio{% endblock %}

{% block content %}
<header>
    <h1>My Work</h1>
    
</header>

<section>
    <h2>Professional Role</h2>
    <p>I am currently working at International Metal Gate (IMG), my family's company, where I manage key operational functions and contribute to business strategy and development. Our company specializes in the manufacturing and distribution of high-quality metal gates and related products across various markets.</p>
</section>

<section>
    <h2>Skills and Contributions</h2>
    <p>My role at IMG involves overseeing project management, enhancing operational efficiencies, and implementing technological solutions to modernize our business processes. I leverage my computer science background to integrate advanced software solutions that streamline operations and improve customer interactions.</p>
</section>

<footer>
    <p>Interested in learning more about my professional journey or exploring partnership opportunities?</p>
    <a href="{% url 'contact' %}">Contact Me</a>
</footer>
{% endblock %}